body {
  margin: 0;
}

.toggle-btn {
  display: none;
}

/* Light mode styles */
.light-mode {
  background-color: #c0c0c0;
  color: #4e545c;
}

/* Dark mode styles */
.dark-mode {
  background-color: #4e545c;
  color: #c0c0c0;
}

.header {
  margin: 0;
  border-radius: 15px;
  border-bottom: 8px solid #000401;
}

.header.active {
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-box-shadow: 0 0 17px red;
          box-shadow: 0 0 17px red;
}

.header .hero {
  height: 65vh;
  width: 100%;
  background-image: linear-gradient(60deg, #a3abb0, #000401);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .hero-slideshow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.header .hero-slide {
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header .hero-slide.active {
  opacity: 1;
}

.header .hero-slide-content {
  width: 50%;
  color: #000401;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-shadow: 10px 10px 19px grey;
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) and (max-width: 1310px) {
  .header .hero-slide-content {
    /* Styles */
    position: absolute;
    top: 50%;
    left: 30%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .hero-slide-content > p {
    inline-size: 17rem;
    overflow-wrap: break-word;
  }
}

@media screen and (max-width: 768px) {
  .header .hero-slide-content {
    position: absolute;
    top: 50%;
    left: 32%;
  }
  .header .hero-slide-content > p {
    inline-size: 12rem;
    overflow-wrap: break-word;
  }
}

.header .hero-slide-content > p {
  font-size: 2rem;
}

.header .hero-slide-content .hello {
  font-size: 9.5rem;
  inline-size: 30rem;
  overflow-wrap: break-word;
}

@media screen and (max-width: 768px) {
  .header .hero-slide-content .hello {
    font-size: 5rem;
    inline-size: 15rem;
    overflow-wrap: break-word;
  }
}

@media screen and (max-width: 576px) {
  .header .hero-slide-content .hello {
    font-size: 5rem;
    inline-size: 15rem;
    overflow-wrap: break-word;
  }
}

.header .hero-slide-content .hello > p {
  font-size: 1.4rem;
}

.header .hero-slide-content h2 {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .header .hero-slide-content h2 {
    font-size: 2rem;
  }
}

.header .slide-image-container {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  border-radius: 5px;
  overflow: hidden;
}

.header .hero-slide.active .slide-image-container {
  opacity: 1;
}

.header .slide-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.header .hero-slide.active .slide-image {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-width: 576px) {
  .header .hero {
    height: 30rem;
    padding-top: 80px;
    text-align: center;
    background-size: cover;
  }
  .header .hero-slide-content {
    width: 100%;
/*     padding: 20px; */
    position: static;
    -webkit-transform: none;
            transform: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .hero-slide-content .hello {
    font-size: 4.5rem;
    inline-size: 15rem;
    overflow-wrap: break-word;
  }
  .header .hero-slide-content .hello > p {
    font-size: 1.4rem;
  }
  .header .hero-slide-content h2 {
    font-size: 2.5rem;
  }
  .header .slide-image-container {
    display: none;
  }
}

.header .header-title {
  font-family: "Great Vibes", cursive;
  color: #4e545c;
  font-size: 3rem;
  text-align: center;
}

.header-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #4e545c;
  z-index: 1;
  overflow-x: auto;
}

.header-nav .header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.header-nav .header-nav-list .header-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4e545c;
  border: 2px solid lightgrey;
  font-size: 1.6rem;
  -webkit-transition: 250ms ease-in color;
  transition: 250ms ease-in color;
  font-family: "Satisfy";
  cursor: pointer;
}

.header-nav .header-nav-list .header-nav-item a {
  color: #e5e8e8;
  text-decoration: none;
  padding: 1rem 1.7rem;
  -webkit-transition: color 250ms ease-in color;
  transition: color 250ms ease-in color;
  font-family: "Satisfy", cursive;
}

.header-nav .header-nav-list .header-nav-item a:hover {
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #c0c0c0;
  font-size: 1.7rem;
}

.header-nav .header-nav-list .header-nav-item a.active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 0 0px 15px grey;
  color: #c0c0c0;
}

@media screen and (max-width: 575px) {
  
  .header-nav .header-nav {
    background-color: #4e545c;
    padding: 10px;
  }
  .header-nav .header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding: 0;
  }
  .header-nav .header-nav-list .header-nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    /* Initially hide the items */
    -webkit-animation: fade-in 0.5s ease-in-out forwards;
            animation: fade-in 0.5s ease-in-out forwards;
  }
  .header-nav .header-nav-list .header-nav-item a {
    width: 80%;
    color: #e5e8e8;
    text-decoration: none;
  }
  .header-nav .header-nav.open .header-nav-list {
    opacity: 1;
  }
  .header-nav .header-nav.open {
    background-color: #4e545c;
    padding: 10px;
  }
  @-webkit-keyframes fade-in {
    from {
      opacity: 0;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:checked + .slider {
  background-color: #c0c0c0;
}

.switch input[type="checkbox"]:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
  background-color: grey;
}

.switch input[type="checkbox"] input[type="checkbox"]:before {
  display: none;
  background-color: grey;
}

.switch .slider {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  background-color: black;
  border-radius: 26px;
  cursor: pointer;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: #e5e8e8;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.switch .slider.round {
  border-radius: 26px;
}

section {
  color: #000401;
  display: none;
  padding: 2.5rem;
  height: 100%;
  background-color: #a3abb0;
  margin: 3rem 0rem;
  text-align: center;
  border-radius: 5px;
}

section:first-child {
  display: block;
}

.about-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #000401;
  border-bottom: 2px solid;
  padding-bottom: 1.2rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hastags {
  margin: 1rem;
  text-transform: lowercase;
  font-size: 1.8rem;
}

.about-slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-slide {
  display: none;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 2px 10px grey;
          box-shadow: inset 0px 2px 10px grey;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  border-radius: 5px;
}

.about-slide.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}

.about-slide img {
  width: 50%;
  max-width: 550px;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border-radius: 5px;
}

.about-slide-content {
  width: 100%;
  padding: 1rem;
  font-family: monospace;
  line-height: 1.7rem;
}

.about-slide-content .helloquotes::before {
  content: '"\H';
  font-size: 2rem;
}

.about-slide-content .firstPara {
  padding: 0rem 1rem;
}

.about-slide-content .fcc .certi1, .about-slide-content .fcc .certi2 {
  text-decoration: none;
  text-transform: lowercase;
  color: #4e545c;
}

.about-slide-content .fcc .certi1:hover,
.about-slide-content .fcc .certi2:hover {
  color: #000401;
}

.about-slide-content .plinks {
  text-decoration: none;
  color: #4e545c;
}

.about-slide-content .plinks:hover {
  color: #000401;
}

.about-slide-content .cplinks, .about-slide-content .game {
  text-decoration: none;
  color: #4e545c;
  text-transform: lowercase;
}

.about-slide-content .cplinks:hover, .about-slide-content .game:hover {
  color: #000401;
}

.about-slide-content .game .pawn {
  color: #c0c0c0;
}

.about-slide-content .game .pawn::after {
  content: "";
  color: #c0c0c0;
}

.about-slide-content .game .pawn:hover {
  color: #000401;
}

.about-slide-content .game .game-img {
  width: 25px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.about-slide-content .game .game-img:hover {
  color: #000401;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.about-slide-content ul .ul-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.about-slide-content ul li {
  list-style: square;
  font-size: 1.2rem;
}

.about-slide-content h2 {
  text-align: center;
  margin-top: 0;
  border-bottom: 2px solid #000401;
}

.about-slide-content p {
  font-size: 1.3rem;
  text-align: justify;
}

#loadMore {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #4e545c;
  color: #e5e8e8;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#loadMore:hover {
  color: #000401;
  background-color: #c0c0c0;
}

@media screen and (max-width: 768px) {
  .about-slide {
    padding: 1rem;
  }
  .about-slide.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .about-slide-content p {
    font-size: 1.2rem;
  }
  .about-slide img {
    width: 80%;
    max-width: 550px;
    height: 80%;
  }
}

@media screen and (max-width: 576px) {
  .about-slide-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about-slide.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .about-slide img {
    width: 70%;
    max-width: none;
    height: 70%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-slide-content {
    width: 100%;
    padding: 2rem;
    text-align: justify;
  }
  .about-slide-content p {
    font-size: 1.1rem;
  }
}

.projects {
  height: 100%;
}

.projects #show-more-button {
  font-size: 1.2rem;
  width: 10rem;
  border: 2px solid #4e545c;
  background-color: #c0c0c0;
  font-family: cursive;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.projects .reset-button {
  margin-top: 10px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  border: 2px solid #4e545c;
  background-color: #c0c0c0;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.projects .reset-button:hover {
  color: #e5e8e8;
  background-color: #4e545c;
}

.projects .projects-title {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  color: #000401;
  border-bottom: 2px solid;
  padding-bottom: 1.2rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.projects .certificate {
  text-transform: capitalize;
  height: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-top: 2px solid grey;
}

.projects .certificate .certi-title h2 {
  text-decoration: underline;
  font-size: 2rem;
}

.projects .certificate .certiOne,
.projects .certificate .certiTwo {
  text-decoration: none;
  text-shadow: 10px 10px 19px grey;
  text-transform: capitalize;
  font-size: 2rem;
  color: #4e545c;
  padding: 1rem;
  border-radius: 15px;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

@media screen and (max-width: 768px) {
  .projects .certificate .certiOne,
  .projects .certificate .certiTwo {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 576px) {
  .projects .certificate .certiOne,
  .projects .certificate .certiTwo {
    font-size: 1.2rem;
    padding: 0.4rem;
  }
}

.projects .certificate .certiOne:hover {
  color: #000401;
  border: 2px solid #4e545c;
}

.projects .certificate .certiTwo:hover {
  color: #000401;
  border: 2px solid #4e545c;
}

.projects .project-slideshow {
  position: relative;
  margin-bottom: 50px;
}

.projects .project-slideshow .project-slide {
  display: none;
}

.projects .project-slideshow .project-slide.active {
  display: block;
}

.projects .project-slideshow .project-count > p {
  border: 2px solid grey;
  font-size: 1.2rem;
}

.projects .project-slideshow .project-slides {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 50px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .project-slideshow .project-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  border: 2px solid;
  border-radius: 5px;
  height: 21rem;
  width: 18rem;
  -webkit-transition: 250ms easi-in;
  transition: 250ms easi-in;
}

.projects .project-slideshow .project-slide:hover {
  -webkit-box-shadow: 0 0 15px #4e545c;
          box-shadow: 0 0 15px #4e545c;
}

.projects .project-slideshow .project-slide .project-image {
  background-image: -webkit-gradient(linear, left top, right top, from(#4e545c), to(#000401));
  background-image: linear-gradient(to right, #4e545c, #000401);
  display: inline-block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.projects .project-slideshow .project-slide .project-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.projects .project-slideshow .project-slide .project-description {
  font-size: 1rem;
  margin-bottom: 0.4rem;
  font-family: monospace;
}

.projects .project-slideshow .project-slide .project-link {
  border: 2px solid;
  padding: 0.4rem;
  color: #e5e8e8;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
}

.projects .project-slideshow .project-slide .project-link:hover {
  color: #000401;
}

.contact {
  color: #e5e8e8;
  padding: 50px;
  height: 100%;
}

.contact .contact-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
  color: #000401;
  border-bottom: 2px solid;
  padding-bottom: 1.2rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact .contact-container .contact-form {
  background-color: #4e545c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50rem;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px grey;
          box-shadow: 0 0 10px grey;
  width: 50%;
}

.contact .contact-container .contact-form .form-group {
  width: 100%;
  display: contents;
}

.contact .contact-container .contact-form .form-group .contact-label {
  font-size: 1.2rem;
  margin-top: 20px;
}

.contact .contact-container .contact-form .form-group .contact-input {
  background-color: #c0c0c0;
  border: none;
  border-radius: 5px;
  color: #000401;
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 20px;
}

.contact .contact-container .contact-form .form-group #message {
  height: 10rem;
}

.contact .contact-container .contact-form .contact-button {
  background-color: #e5e8e8;
  border: none;
  border-radius: 5px;
  color: #000401;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.8rem 1.3rem;
  margin: 1.4rem 0px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.contact .contact-container .contact-form .contact-button:hover {
  background-color: #000401;
  color: #e5e8e8;
}

.contact .contact-container .other-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.contact .contact-container .other-contact > h2 {
  border-bottom: 2px solid grey;
}

.contact .contact-container .other-contact .social-presence > a {
  display: inline-block;
  color: #4e545c;
  font-size: 1.5rem;
  margin: 0 10px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-decoration: underline;
}

.contact .contact-container .other-contact .social-presence > a:hover {
  color: #000401;
}

.contact .contact-container .other-contact .social-presence > a > i {
  font-size: 4rem;
}

@media screen and (max-width: 768px) {
  .contact .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .contact-container .contact-form {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .contact .contact-container .contact-form {
    max-width: 100%;
  }
  .contact .contact-container .other-contact > a {
    margin-top: 10px;
  }
}

.light-mode > footer {
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  border: 2px solid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5rem 0.5rem 8rem 0.5rem;
}

.light-mode > footer .f-para {
  font-family: "Satisfy", cursive;
  margin: 0.2rem;
  padding: 1.2rem;
  font-size: 1.5rem;
}

.light-mode > footer .resume {
  width: 100%;
  text-align: center;
}

.light-mode > footer .resume .cv-btn {
  font-size: 1.2rem;
  border: 2px solid #4e545c;
  width: 10rem;
  background-color: #c0c0c0;
  font-family: cursive;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: 250ms easi-in-out;
  transition: 250ms easi-in-out;
}

.light-mode > footer .resume .cv-btn:hover {
  background-color: #4e545c;
  color: #e5e8e8;
}

.light-mode > footer .other-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.light-mode > footer .other-contact > h2 {
  border-bottom: 2px solid grey;
}

.light-mode > footer .other-contact .social-presence > a {
  display: inline-block;
  color: #4e545c;
  font-size: 1.5rem;
  margin: 0 10px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-decoration: underline;
}

.light-mode > footer .other-contact .social-presence > a:hover {
  color: #000401;
}

.light-mode > footer .other-contact .social-presence > a > i {
  font-size: 4rem;
}

.light-mode .header {
  color: #e5e8e8;
  border-radius: 15px;
  border-bottom: 5px solid grey;
}

.light-mode .header .header-title {
  font-family: "Great Vibes", cursive;
}

.dark-mode > footer {
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  border: 2px solid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 1rem 7rem 1rem;
}

.dark-mode > footer .f-para {
  font-family: "Satisfy", cursive;
  margin: 0.2rem;
  padding: 1.2rem;
  font-size: 1.5rem;
}

.dark-mode > footer .resume {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.dark-mode > footer .resume .cv-btn {
  font-size: 1.2rem;
  border: 2px solid #c0c0c0;
  width: 10rem;
  background-color: #c0c0c0;
  font-family: cursive;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: 250ms easi-in-out;
  transition: 250ms easi-in-out;
}

.dark-mode > footer .resume .cv-btn:hover {
  background-color: #4e545c;
  color: #e5e8e8;
}

.dark-mode > footer .other-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.dark-mode > footer .other-contact > h2 {
  border-bottom: 2px solid grey;
}

.dark-mode > footer .other-contact .social-presence > a {
  display: inline-block;
  color: #c0c0c0;
  font-size: 1.5rem;
  margin: 0 10px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-decoration: underline;
}

.dark-mode > footer .other-contact .social-presence > a:hover {
  color: #000401;
}

.dark-mode > footer .other-contact .social-presence > a > i {
  font-size: 4rem;
}

.dark-mode .header {
  border-radius: 15px;
  border-bottom: 5px solid grey;
}

.dark-mode .header .header-title {
  font-family: "Great Vibes", cursive;
  color: #c0c0c0;
}

@media screen and (max-width: 576px) {
  /* Light mode styles */
  .light-mode {
    background-color: #c0c0c0;
    color: #4e545c;
  }
  /* Dark mode styles */
  .dark-mode {
    background-color: #4e545c;
    color: #c0c0c0;
  }
  body {
    font-size: 1rem;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero {
    height: auto;
    padding-top: 80px;
    text-align: center;
  }
  .hero-slide {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .header-title {
    font-family: "Satisfy", cursive;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2.5rem;
  }
  .header-nav {
    display: none;
  }
  .toggle-btn {
    display: block;
    position: absolute;
    top: 1.6rem;
    right: 1.8rem;
    font-size: 2rem;
    color: #e5e8e8;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;
  }
  .toggle-btn:hover {
    color: #a3abb0;
  }
  .mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #4e545c;
    z-index: 998;
    padding-top: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
  }
  .mobile-nav .mobile-nav-item {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    background: transparent;
    height: 6rem;
  }
  .mobile-nav .mobile-nav-item a {
    display: block;
    padding: 10px;
    color: #e5e8e8;
    text-decoration: none;
    font-size: 20px;
  }
  .mobile-nav .mobile-nav-item a:hover {
    color: #a3abb0;
  }
  .mobile-nav .mobile-switch {
    display: block;
    margin: 0 auto;
  }
  .mobile-nav .mobile-switch input {
    display: none;
  }
  .mobile-nav .mobile-switch .slider {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 16px;
    margin: 0 5px;
    background-color: #e5e8e8;
    border-radius: 16px;
    cursor: pointer;
  }
  .mobile-nav .mobile-switch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 0;
    bottom: 0;
    background-color: #a3abb0;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .mobile-nav .mobile-switch .slider.round {
    border-radius: 16px;
  }
  .mobile-nav .mobile-switch .slider.round:before {
    border-radius: 50%;
  }
  .mobile-nav .mobile-switch input:checked + .slider:before {
    -webkit-transform: translateX(24px);
            transform: translateX(24px);
  }
  .header-nav.open {
    display: block;
  }
  section {
    display: block;
  }
  .about-title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 2rem;
    text-align: center;
  }
  .about {
    height: 100%;
  }
  .about-description {
    height: 100vh;
    font-size: 1.2rem;
  }
  .projects #show-more-button {
    font-size: 1.2rem;
    border: 2px solid #4e545c;
    width: 10rem;
    background-color: #c0c0c0;
    font-family: cursive;
    border-radius: 1rem;
    cursor: pointer;
    -webkit-transition: 250ms easi-in-out;
    transition: 250ms easi-in-out;
  }
  .projects-title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 2rem;
    text-align: center;
  }
  .project-slide {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .project-image {
    width: 100%;
  }
  .contact {
    color: #e5e8e8;
    padding: 50px;
    height: 100%;
  }
  .contact .contact-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid;
    padding-bottom: 1.2rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .contact .contact-form {
    background-color: #4e545c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 50vw;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px grey;
            box-shadow: 0 0 10px grey;
    width: 65vw;
    -webkit-box-shadow: 0 0 15px #c0c0c0;
            box-shadow: 0 0 15px #c0c0c0;
  }
  .contact .contact-form .contact-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.2rem;
    margin-top: 20px;
  }
  .contact .contact-form .contact-input {
    background-color: #c0c0c0;
    border: none;
    color: #000401;
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 20px;
  }
  .contact .contact-form #message {
    height: 10rem;
  }
  .contact .contact-form .contact-button {
    background-color: #e5e8e8;
    border: none;
    border-radius: 5px;
    color: #000401;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.8rem 1.3rem;
    margin: 1.4rem 0px;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
  .contact .contact-form .contact-button:hover {
    background-color: #000401;
    color: #e5e8e8;
  }
}

/* Light mode styles */
/*# sourceMappingURL=main.css.map */
